{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Адресная книга</title>{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'address_book/style.css' %}">
</head>
<body>
{% block content %}

{% if object_list %}
<div class="container w-50 mt-2">
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-outline-dark w-50 flex-end m-2">Поиск</button>
  </form>
  <div class="table-responsive">
    <h2 class="text text-dark text-center mt-2 pb-2">Адресная книга</h2>
    <a class="btn btn-success mb-2 text " href="{% url 'address_book:person-create'  %}">Создать контакт</a>
    <table class="table table-sm table-secondary table-striped table-bordered text-center align-middle ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Детальная информация</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter}}</th>
          <td>{{ object.first_name }}</td>
          <td>{{ object.last_name }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'address_book:person-view' pk=object.pk %}">Просмотреть</a>
                <a class="btn btn-warning" href="{% url 'address_book:person-edit' pk=object.pk %}">Редактировать</a>
                <a class="btn btn-danger" href="{% url 'address_book:person-delete' pk=object.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="container w-50 mt-2">
    <h2 class="text text-dark text-center mt-2 pb-2">Адресная книга</h2>
    <a class="btn btn-success mb-2 text " href="{% url 'address_book:person-create'  %}">Создать контакт</a>
    <h2 class="text text-dark text-center mt-2 pb-2">Пока записей нет.</h2>
</div>
{% endif %}
{% endblock %}
</body>
</html>