{% extends 'address_book/base.html' %}
{% block title %}
<title>Удаление контакта номер {{ object.pk }}</title>
{% endblock %}
{% block content %}
<div class="container d-flex align-items-center flex-column justify-content-center " style="height:100%">
  <form class="border border-rounded border-secondary border-3 p-3 bg-secondary" method="post">
    {% csrf_token %}
    <p>Вы уверены что хотите удалить запись "{{ object }}"?</p>
    <div class="d-flex justify-content-evenly">
      <button type="submit" class="btn btn-danger">Удалить</button>
      <a class="btn btn-dark" href="{% url 'address_book:home' %}">Вернуться</a>
    </div>
  </form>
</div>
{% endblock %}