{% extends 'address_book/base.html' %}
{% block title %}
<title>Редактирование контакта номер {{ object.pk }}</title>
{% endblock %}
{% block content %}
<div class="container">
  <a class="btn btn-outline-dark" href="{% url 'address_book:home'%}"><- Вернуться на главную страницу</a>
  <form class="mx-auto border border-3 border-secondary rounded bg-secondary text-white bg-gradient bg-opacity-75"
      method="post" id="create_form" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_table }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-dark w-50 flex-end m-2">Отредактировать</button>
    </div>
  </form>
</div>
{% endblock %}