{% extends 'address_book/base.html' %}
{% block title %}
<title>TITLE</title>
{% endblock %}
{% block content %}
{% if object_list %}
<div class="container w-50 mt-2">
  <a class="btn btn-outline-dark" href="{% url 'address_book:home'%}"><- Вернуться на главную страницу</a>
  <div class="table-responsive">
    <h2 class="text text-dark text-center mt-2 pb-2">Адресная книга</h2>
    <a class="btn btn-success mb-2 text " href="{% url 'address_book:person-create'  %}">Создать контакт</a>
    <table class="table table-sm table-secondary table-striped table-bordered text-center align-middle ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Детальная информация</th>
        </tr>
      </thead>
      <tbody>
            {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter}}</th>
          <td>{{ object.first_name }}</td>
          <td>{{ object.last_name }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'address_book:person-view' pk=object.pk %}">Просмотреть</a>
              <a class="btn btn-warning" href="{% url 'address_book:person-edit' pk=object.pk %}">Редактировать</a>
              <a class="btn btn-danger" href="{% url 'address_book:person-delete' pk=object.pk %}">Удалить</a>
            </td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="container w-50 mt-2">
  <a class="btn btn-outline-dark" href="{% url 'address_book:home'%}"><- Вернуться на главную страницу</a>
  <div class="table-responsive">
    <h2 class="text text-dark text-center mt-2 pb-2">Адресная книга</h2>
    <a class="btn btn-success mb-2 text " href="{% url 'address_book:person-create'  %}">Создать контакт</a>
    <h4 class="text text-dark text-center mt-2 pb-2">{{ message }}</h4>
  </div>
</div>
{% endif %}
{% endblock %}