{% extends 'address_book/base.html' %}
{% block title %}
<title>{{ object.first_name}} {{ object.last_name}}</title>
{% endblock %}
{% block content %}
{% if object.pk %}
<a class="btn btn-outline-dark" href="{% url 'address_book:home'%}"><- Вернуться на главную страницу</a>
<div class="container pt-2 d-flex justify-content-center">
  <div class="card w-50 position-absolute border border-3
  border-secondary rounded bg-secondary text-white bg-gradient bg-opacity-75 text-center">
    <div class="card-body">
      <p>Имя: {{ object.first_name }}</p>
      <p>Фамилия: {{ object.last_name }}</p>
      <p>Страна: {{ object.country }}</p>
      <p>Город: {{ object.city }}</p>
      <p>Улица: {{ object.street }}</p>
      <p>URL-Адрес: {{ object.url_address }}</p>
      <p>Номер телефона: {{ object.phone_number }}</p>
      {% if object.image %}
      <img src="{{ object.image.url }}" alt="Картинки нет" width="150" height="150" >
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<div class="container d-flex align-items-center flex-column justify-content-center text-center " style="height:100%">
  <div class="border border-rounded border-secondary border-3 p-3 bg-secondary">
    <p>{{ object }}</p>
    <a class="btn btn-outline-dark" href="{% url 'address_book:home'%}"><- Вернуться на главную страницу</a>
  </div>
</div>
{{ object }}
{% endif %}
{% endblock %}